body{
  padding:5px;
}


a {
    text-decoration: none;
    color:rgb(122, 121, 121);
  
  }
  .left-box{
    display: inline-block;
    padding:20px;
  }
  .left-box b{
    margin:0 5px;
    font-size:20px;
  }
  .right-box{
    display: inline-block;
    width:1000px;
    text-align: right;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

  
  }
  li a{
    display: inline-block;
    margin:0 15px;
  }
  
  li{
    display:inline-block;

  }

h1{
    width:200px;
    margin:30px;
}

p{
    width:500px;
    color:rgb(116, 111, 111);
    margin:40px;
}
.next{
    width:200px;
    background-color: rgb(176, 133, 216);
    border:none;
    color:white;
    height:50px;
    border-radius:20px;
    font-size: 20px;
    margin:40px;
}
.last-item{
  width:120px;
  background-color: rgb(240, 117, 219);
  height:25px;
  padding:10px;
  text-align:center;
  border-radius:30px;

}
.last-item a{
  color:white;
}
